name: Test linstor-cluster Chart

on:
  pull_request:
    paths:
      - 'charts/linstor-cluster/**'
    branches:
      - master
  push:
    paths:
      - 'charts/linstor-cluster/**'
    branches:
      - master

jobs:
  linstor-cluster-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup microk8s
        uses: ./.github/actions/setup-microk8s
        with:
          create-microk8s-cluster: "true"

      - name: Install drbd and linux-headers pkg
        run: |
          sudo add-apt-repository ppa:linbit/linbit-drbd9-stack -y && \
          sudo apt update && \
          sudo apt install -y drbd-utils drbd-dkms lvm2

      - name: Install cert-manager
        run: |
          helm install \
            cert-manager jetstack/cert-manager \
            --namespace cert-manager \
            --create-namespace \
            --version v1.13.1 \
            --set installCRDs=true
            kubectl wait --timeout=5m --for=condition=available deployment cert-manager -n cert-manager
            kubectl wait --timeout=5m --for=condition=available deployment cert-manager-webhook -n cert-manager

      - name: Install piraeus
        run: |
          helm install \
            piraeus dtrdnk-helm-charts/piraeus \
            --namespace data-store \
            --create-namespace \
            --version v2.2.0 
            kubectl wait --timeout=5m --for=condition=available deployment piraeus-controller-manager -n data-store

      - name: Run chart-testing (install)
        run: ct install --namespace data-store --charts charts/linstor-cluster
