name: Lint Charts

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup kind
        uses: ./.github/actions/setup-kind
        with:
          create-kind-cluster: "false"

      - name: Run chart-testing (lint)
        run: "ct lint --target-branch master
          --chart-repos dtrdnk-helm-charts=https://dtrdnk.github.io/helm-charts"
